.auth{
  background-image: url(../../../assets/images/food1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: calc(100vh - 62px);
}

