.landing{
  background-image: url(../../../assets/images/food4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 63px);
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 76%, 50% 76%, 50% 100%, 100% 100%, 100% 0%);
}


@media screen and (max-width : 600px) {
  .landing{
    min-height: calc(100vh - 53px);
  }
}
